{% extends 'base.html' %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="page-title">
                Shopping Cart
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if cart_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in cart_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    {% if "placeholder" in item.menu_item.featured_image.url %}
                                        <img class="menu-image float-right" src="https://res.cloudinary.com/djgf3vydo/image/upload/v1678384777/placeholder_image_u9hnqg.webp">
                                    {% else %}
                                        <img class="menu-image float-right" src="{{ item.menu_item.featured_image.url }}" alt="Why not try one of our delicious {{ item.name }}s" />
                                    {% endif %}
                                    <!-- <img class="img-fluid rounded" src="{{ item.menu_item.featured_image.url }}"> -->
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ item.menu_item.name }}</strong></p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">&euro;{{ item.menu_item.price }}</p>
                                </td>
                                <td class="py-3 w-15">
                                    <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group w-100 w-md-50">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-black" 
                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-black"
                                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- <div class="update-controls d-flex justify-content-evenly"> -->
                                        <a class="update-link text-info"><small>Update</small></a>
                                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-size="{{ item.size }}"><small>Remove</small></a>
                                    <!-- </div> -->
                                </td>
                                <td class="py-3">
                                    <p class="my-0">&euro;{{ item.menu_item.price | calc_subtotal:item.quantity}}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h6><strong>Bag Total: &euro;{{ total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: &euro;{{ delivery|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Grand Total: &euro;{{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                    <p class="mb-1 text-danger">
                                        You could get free delivery by spending just <strong>&euro;{{ free_delivery_delta }}</strong> more!
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <a href="{% url 'menu' %}" class="btn btn-outline-black btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-black btn-lg">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <p class="lead mb-5">Your cart is empty.</p>
                <a href="{% url 'menu' %}" class="btn btn-outline-black btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Still hungry?</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'menu/includes/quantity_update_script.html' %}
{% include 'cart/includes/remove_item_cart.html' %}
{% endblock %}