{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
    Sitemap
{% endblock %}

{% block content %}
<section class="sitemap container m-3 p-3">
<h1 class="sitemap">
    Sitemap
</h1>
<div class="row">
    <div class="col-12 col-md-10 offset-md-1">
<div id="cont">
    <ul class="level-0">

        <li class="lhead">/  <span class="lcount">2 pages</span></li>
        
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/" title="Burger Bar - 
Savour every bite
">Burger Bar - 
Savour every bite
</a></li>
<li class="lpage last-page"><a href="https://ci-pp5-burger-bar.herokuapp.com/sitemap" title="Burger Bar - ">Burger Bar - </a></li><li><ul class="level-1">

        <li class="lhead">about/  <span class="lcount">1 pages</span></li>
        
<li class="lpage last-page"><a href="https://ci-pp5-burger-bar.herokuapp.com/about/" title="Burger Bar - 
About Us
">Burger Bar - 
About Us
</a></li>
</ul><ul class="level-1">

        <li class="lhead">accounts/ </li>
        <li><ul class="level-2">

        <li class="lhead">login/  <span class="lcount">1 pages</span></li>
        
<li class="lpage last-page"><a href="https://ci-pp5-burger-bar.herokuapp.com/accounts/login/" title="Burger Bar - 
Login
">Burger Bar - 
Login
</a></li>
</ul><ul class="level-2">

        <li class="lhead">password/ </li>
        <li><ul class="level-3">

        <li class="lhead">reset/  <span class="lcount">1 pages</span></li>
        
<li class="lpage last-page"><a href="https://ci-pp5-burger-bar.herokuapp.com/accounts/password/reset/" title="Burger Bar - 
Reset Password
">Burger Bar - 
Reset Password
</a></li>
</ul></li>
</ul><ul class="level-2">

        <li class="lhead">signup/  <span class="lcount">1 pages</span></li>
        
<li class="lpage last-page"><a href="https://ci-pp5-burger-bar.herokuapp.com/accounts/signup/" title="Burger Bar - 
Register
">Burger Bar - 
Register
</a></li>
</ul></li>
</ul><ul class="level-1">

        <li class="lhead">cart/  <span class="lcount">1 pages</span></li>
        
<li class="lpage last-page"><a href="https://ci-pp5-burger-bar.herokuapp.com/cart/" title="Burger Bar - 
My Shopping Cart
">Burger Bar - 
My Shopping Cart
</a></li>
</ul><ul class="level-1">

        <li class="lhead">contact/  <span class="lcount">1 pages</span></li>
        
<li class="lpage last-page"><a href="https://ci-pp5-burger-bar.herokuapp.com/contact/" title="Burger Bar - ">Burger Bar - </a></li>
</ul><ul class="level-1">

        <li class="lhead">faqs/  <span class="lcount">1 pages</span></li>
        
<li class="lpage last-page"><a href="https://ci-pp5-burger-bar.herokuapp.com/faqs/" title="Burger Bar - 
Frequently Asked Questions
">Burger Bar - 
Frequently Asked Questions
</a></li>
</ul><ul class="level-1">

        <li class="lhead">locations/  <span class="lcount">1 pages</span></li>
        
<li class="lpage last-page"><a href="https://ci-pp5-burger-bar.herokuapp.com/locations/" title="Burger Bar - 
Locations
">Burger Bar - 
Locations
</a></li><li><ul class="level-2">

        <li class="lhead">maccurtain-street/  <span class="lcount">1 pages</span></li>
        
<li class="lpage last-page"><a href="https://ci-pp5-burger-bar.herokuapp.com/locations/maccurtain-street/" title="Burger Bar - 
MacCurtain Street
">Burger Bar - 
MacCurtain Street
</a></li>
</ul><ul class="level-2">

        <li class="lhead">patrick-street/  <span class="lcount">1 pages</span></li>
        
<li class="lpage last-page"><a href="https://ci-pp5-burger-bar.herokuapp.com/locations/patrick-street/" title="Burger Bar - 
Patrick Street
">Burger Bar - 
Patrick Street
</a></li>
</ul><ul class="level-2">

        <li class="lhead">wilton/  <span class="lcount">1 pages</span></li>
        
<li class="lpage last-page"><a href="https://ci-pp5-burger-bar.herokuapp.com/locations/wilton/" title="Burger Bar - 
Wilton
">Burger Bar - 
Wilton
</a></li>
</ul></li>
</ul><ul class="level-1">

        <li class="lhead">menu/  <span class="lcount">31 pages</span></li>
        
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/" title="Burger Bar - 
Our menu
">Burger Bar - 
Our menu
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/?category=Burgers" title="Burger Bar - 
Our menu
">Burger Bar - 
Our menu
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/?category=Sides" title="Burger Bar - 
Our menu
">Burger Bar - 
Our menu
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/?category=Sauces" title="Burger Bar - 
Our menu
">Burger Bar - 
Our menu
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/?category=Drinks" title="Burger Bar - 
Our menu
">Burger Bar - 
Our menu
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/?category=Desserts" title="Burger Bar - 
Our menu
">Burger Bar - 
Our menu
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/?category=Special%20Offers" title="Burger Bar - 
Our menu
">Burger Bar - 
Our menu
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/bbq-burger" title="Burger Bar - 
BBQ Burger
">Burger Bar - 
BBQ Burger
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/breakfast-burger" title="Burger Bar - 
Breakfast Burger
">Burger Bar - 
Breakfast Burger
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/meal-deal" title="Burger Bar - 
Meal Deal
">Burger Bar - 
Meal Deal
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/bacon-cheeseburger" title="Burger Bar - 
Bacon Cheeseburger
">Burger Bar - 
Bacon Cheeseburger
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/chicken-burger" title="Burger Bar - 
Chicken Burger
">Burger Bar - 
Chicken Burger
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/classic-cheeseburger" title="Burger Bar - 
Classic Cheeseburger
">Burger Bar - 
Classic Cheeseburger
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/el-diablo" title="Burger Bar - 
El Diablo
">Burger Bar - 
El Diablo
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/hand-cut-chips" title="Burger Bar - 
Hand Cut Chips
">Burger Bar - 
Hand Cut Chips
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/side-salad" title="Burger Bar - 
Side Salad
">Burger Bar - 
Side Salad
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/onion-rings" title="Burger Bar - 
Onion Rings
">Burger Bar - 
Onion Rings
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/garlic-bread" title="Burger Bar - 
Garlic bread
">Burger Bar - 
Garlic bread
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/?page=2" title="Burger Bar - 
Our menu
">Burger Bar - 
Our menu
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/?page=3" title="Burger Bar - 
Our menu
">Burger Bar - 
Our menu
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/sweet-chilli-sauce" title="Burger Bar - 
Sweet Chilli Sauce
">Burger Bar - 
Sweet Chilli Sauce
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/garlic-mayo" title="Burger Bar - 
Garlic Mayo
">Burger Bar - 
Garlic Mayo
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/spicy-chilli-sauce" title="Burger Bar - 
Spicy Chilli Sauce
">Burger Bar - 
Spicy Chilli Sauce
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/honey-mustard" title="Burger Bar - 
Honey Mustard
">Burger Bar - 
Honey Mustard
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/homemade-bbq-sauce" title="Burger Bar - 
Homemade BBQ sauce
">Burger Bar - 
Homemade BBQ sauce
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/330ml-can-of-coca-cola" title="Burger Bar - 
330ml Can of Coca-Cola
">Burger Bar - 
330ml Can of Coca-Cola
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/blueberry-cheesecake" title="Burger Bar - 
Blueberry Cheesecake
">Burger Bar - 
Blueberry Cheesecake
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/carrot-cake" title="Burger Bar - 
Carrot Cake
">Burger Bar - 
Carrot Cake
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/chocolate-cake" title="Burger Bar - 
Chocolate Cake
">Burger Bar - 
Chocolate Cake
</a></li>
<li class="lpage"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/chocolate-brownie" title="Burger Bar - 
Chocolate Brownie
">Burger Bar - 
Chocolate Brownie
</a></li>
<li class="lpage last-page"><a href="https://ci-pp5-burger-bar.herokuapp.com/menu/?page=1" title="Burger Bar - 
Our menu
">Burger Bar - 
Our menu
</a></li>
</ul><ul class="level-1">

        <li class="lhead">privacy-policy/  <span class="lcount">1 pages</span></li>
        
<li class="lpage last-page"><a href="https://ci-pp5-burger-bar.herokuapp.com/privacy-policy/" title="Burger Bar - 
Privacy Policy
">Burger Bar - 
Privacy Policy
</a></li>
</ul></li>
</ul>
    <!--
Please note:
You are not allowed to remove the copyright notice below.
Thank you!
www.xml-sitemaps.com
-->
</div>
<div id="sitemap-footer">
    Page created with <a target="_blank" href="https://www.xml-sitemaps.com">Google XML sitemap and html sitemaps generator</a> | Copyright &copy; 2005-2023 XML-Sitemaps.com
</div>
</div>
</div>
</section>
{% endblock %}