@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;700&family=Kaushan+Script&display=swap');

:root {
    --primary-colour: #4f200b;
    --text-shadow-large: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
    --text-shadow-small: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.7);
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Jost', sans-serif;
    font-size: 1.6rem;
    color: var(--primary-colour);
}

a {
    color: var(--primary-colour);
}

ul {
    list-style-type: none;
}

/* Nav styles */
nav {
    background-color: transparent;
}

#logo {
    width: 25rem;
    margin: 0 auto;
}

.social-nav-icons ul {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    list-style: none;
}

.social-nav-icons a {
    padding: 0 10px;
    text-decoration: none;
    font-size: 2rem;
    color: black;
}
.nav-item {
    padding: 0 2rem;
}
.facebook {
    color: #4267b2;
}

.twitter {
    color: #00acee;
}

/* https://stackoverflow.com/questions/37751375/instagram-new-logo-css-background */
/* https://css-tricks.com/snippets/css/gradient-text/ */

.instagram {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.youtube {
    color: red;
}

/* Navigation */

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile > * {
    margin: 1rem;
}

.profile a {
    padding: 1rem;
}

.profile a:hover {
    color: white;
    font-weight: 400;
}

.user-info {
    display: flex;
}

.user-info i {
    padding-right: 1.6rem;
}

.user-info p {
    margin: 0;
}

/* Header image styles */

header {
    background-image: url('/static/images/burger.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    min-height: 75vh;
    padding: 10rem;
}

header h1,
header h2 {
    color: white;
    text-align: center;
}

header h1 {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 12rem;
    margin-bottom: 0;
    text-shadow: var(--text-shadow-large);
}

header h2 {
    font-size: 2.4rem;
    text-shadow: var(--text-shadow-small);
}

header h4 {
    text-shadow: var(--text-shadow-small);
}

header h4:hover {
    text-shadow: none;
}

/* Menu page  */

.menu-image {
    max-width: 100%;
    height: auto;
}

.menu-price {
    float: right;
}

.card {
    border: none;
}

/* Footer */

footer {
    min-height: 15vh;
    background-color: var(--primary-colour);
    color: white;
    font-weight: bold;
    align-items: center;
    justify-items: center;
}

footer ul {
    display: flex;
    padding: 1.5rem;
    list-style: none;
}

.site-links {
    display: block;
}

footer a {
    padding: 0 10px;
    text-decoration: none;
    font-size: 3.6rem;
    color: white;
}

footer a:hover {
    transition: 0.4s ease;
}

#facebook:hover {
    color: #4267b2;
}

#twitter:hover {
    color: #00acee;
}

/* https://stackoverflow.com/questions/37751375/instagram-new-logo-css-background */
/* https://css-tricks.com/snippets/css/gradient-text/ */

#instagram:hover {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#youtube:hover {
    color: red;
}

.footer-links a {
    font-size: 1.4rem;
}

/* MailChimp signup form */

#mc_embed_signup{
    clear:left; 
    font: 'Jost', sans-serif;  
    width:80%;
}

#mc-embedded-subscribe {
    margin-right: 0;
}
                        