{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section id="menu" class="container">
  {% if user.is_superuser %}
    <div class="row mt-3">
      <div class="col-12 d-flex justify-content-end">
        <a href="/menu/add/" class="btn btn-outline-success p-3 float-right">Add Item <i class="fa fa-plus"></i></a>
      </div>
    </div>
  {% endif %}
  <div class="row no-gutters">
    <div class="col-12">
      {% if current_category is not None %}
        {% for category in current_category %}
          <div class="category-info mb-5 pb-5">
            <h3 class="category-title">{{ category.name }}</h3>
            <p class="category-description">
              {{ category.description }}
            </p>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="row mt-1 mb-4 px-4">
    <div class="col-12 col-md-4 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
        <div class="sort-select-wrapper w-50">
          <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border w-100 p-2">
            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
        </select>
        </div>
    </div>
    <div class="col-12 col-md-4 order-md-second">
      <form method="GET" action="{% url 'menu' %}" class="d-flex" role="search">
        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
    <div class="col-12 col-md-4 order-md-first">
        <p class="text-muted mt-3 text-md-left">
            {% if search or current_categories or current_sorting != 'None_None' %}
                <span class="small"><a href="{% url 'menu' %}">Menu </a> | </span>
            {% endif %}
            {{ menu_items|length }} Items{% if search %} found for <strong>"{{ search }}"</strong>{% endif %}
        </p>
    </div>
  </div>
  {% for item in menu_items %}
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4 col-lg-2">
        {% if "placeholder" in item.featured_image.url %}
          <img class="menu-image float-right" src="https://envato-shoebox-0.imgix.net/5877/b8eb-fffe-471b-9146-6f70fa2cf235/Pizza-3.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=4df0f4a84d7eb8c41ae9dc69880e640cs">
        {% else %}
          <img class="menu-image float-right" src="{{ item.featured_image.url }}" alt="Why not try one of our delicious {{ item.name }}s" />
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h4 class="card-title">
              <a href="{% url 'menu_detail' item.slug %}">
                {{ item.name }}
              </a>
            <span class="menu-price"
              >&euro;{{ item.price }}</span>
          </h4>
          <p class="card-text">
            {{ item.description }}
          </p>
          <p
            class="card-text float-right d-block d-md-none"
          >
            <a
              href="{% url 'menu_detail' item.slug %}"
              class="btn btn-outline-danger"
              >Add to order</a
            >
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-2">
        <p
          class="card-text float-right d-none d-md-block mt-3"
        >
          <a
          href="{% url 'menu_detail' item.slug %}"
          class="btn btn-outline-danger"
            >Add to order</a
          >
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}